<div class="comment">
  <div class="header">
    <div class="author">
      {{notification.createdBy.name}} on <span>'{{await notification.comment.about.defaultPrefLabel}}'</span>
    </div>
  </div>
  <div class="message">
    <div class="message-bubble">{{notification.comment.message}}</div>
    <div class="status-symbol"></div>
  </div>
  <div class="footer">
    <div class="post-time">{{notification.createdWhen}}</div>
  </div>
</div>
