<div class="comment">
  <div class="header">
    <div class="author">
      {{assignment.notification.createdBy.name}} on <span>'{{await assignment.notification.comment.about.defaultPrefLabel}}'</span>
    </div>
  </div>
  <div class="message">
    <div class="message-bubble">{{assignment.notification.comment.message}}</div>
  </div>
  <div class="footer">
    <div class="post-time">{{assignment.notification.createdWhen}}</div>
  </div>
</div>
