<button type="button" name="showComments" id="showComments" {{action "showComments"}} title="view comments" tabindex={{buttonTabIndex}}>
    <span>{{comments.length}}</span>
</button>
<div class="displayComments">
  {{#if isDisplayed}}
    {{#tether-dialog close='showComments' hasOverlay=false clickOutsideToClose=true  target='#showComments' targetAttachment='bottom middle'
    attachment='top right'}}
      {{list-comments comments=comments createComment="createComment" deleteComment="deleteComment"
      modifyComment="modifyComment"}}
    {{/tether-dialog}}
  {{/if}}
</div>
