<div class="listcomments">
    <div class="newcomment">
        {{new-comment createComment="createComment"}}
    </div>
  {{#each sortedComments as |comment|}}
          <hr/>
        {{display-comment comment=comment deleteComment="deleteComment" modifyComment="modifyComment"}}
  {{/each}}
</div>
