<div class="posted-comments posted-comments--sent">

  {{#if emptyAssignments}}
    No notifications to display
  {{else}}
    {{#each assignments as |assignment index|}}
      {{display-assignment assignment=assignment index=index handleClick="handleClick"}}
    {{/each}}

    <div class="toggle-hidden-comments">
      <i class="fa {{if (eq showHidden true) 'fa-toggle-on' 'fa-toggle-off'}}" {{action 'toggleShowHidden'}}></i>
      <h2>
      <span>Hidden</span>
    </h2>
    </div>
  {{/if}}
</div>
