<div class="posted-comments posted-comments--inbox">

  {{#if emptyNotifications}}
    No notifications to display
  {{else}}
    <div class="visible-comments">
      {{#each notifications as |notification index|}}
        {{display-notification notification=notification index=index handleClick="handleClick"}}
      {{/each}}
    </div>
  {{/if}}

  <div class="toggle-hidden-comments"  {{action 'toggleShowHidden'}}>
    <h2>
      <span>Hidden</span>
    </h2>
  </div>
</div>
