{{new-comment about=about user=user users=users refresh="refresh" index="new"}}
<div class="posted-comments">
  {{#each sortedComments as |comment index|}}
    {{display-comment comment=comment about=about user=user users=users index=index refresh="refresh"}}
  {{/each}}
</div>
