<div class="content">
    <p>
        <textarea onkeyup={{action "textContentModified"}} name="commentContent" autofocus="autofocus" id="newCommentInput"
                  class="newCommentText" placeholder="Please insert your comment. " value={{newCommentContent}}></textarea>
    </p>
</div>
<div class="newButton">
    <button type="button" name="submitNewComment" id="submitNewComment" {{action "createComment"}}> Add comment </button>
</div>
